<div class='wym_skin_refinery page_part' id='page_image_picker'>
  <div class='wym_area_top'>
    <span class='clearfix label_inline_with_link'>
      <%= link_to t('.add'), refinery.insert_admin_images_path({
                    :dialog => true, :width => 950, :height => 510,
                    :callback => "image_added"
                  }),
                  :id => "add_image_link" %>
    </span>
  </div>
  
  <div class='wym_box field images_field'>
    <ul id='page_images' class='clearfix'>
      <%= f.fields_for :imageables do |image_form| %>
        <li id='image_<%= image_form.object.id %>'>
          <%= image_form.hidden_field :image_id %>
          <%= image_fu image_form.object, '135x135#c' %>
        </li>
      <% end %>
      <li class='empty'>
        <%= hidden_field_tag "#{f.object_name.demodulize}[images_attributes][#{f.object.images.size}][id]" %>
      </li>
    </ul>
  </div>
</div>